# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DuAnTotNghiep\SD_41_DATN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
